.Small
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    width: 55%;
   
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px 40px;
    box-sizing: border-box;
    border-radius: 0.5cm;
    justify-content: space-between;
}

@media (max-width:1042px)
{
    .Small
    {
        
        
        width: 45%;
       
        
        padding: 20px 40px;
        
    }

}

@media (max-width:950px)
{
    .Small
    {
        
        
        width: 45%;
       
        
        padding: 10px 20px;
        
    }

}

@media (max-width:400px)
{
    .Small
    {
        
        
        width: 100%;
       
        
        padding: 10px 20px;
        
    }


}