.Whether
{
    width: 75%;
    height: 200px;
    position: absolute;
    right: 0;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin: 20px;
}

.Whether p
{
    color: white;
    font-size: 5.0rem;
    margin: 0;

}
.Whether small
{
    color: white;
    font-size: 1.8rem;
    margin-left: 90px;
}