.Header
{
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 200px;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
    opacity: 1;
}
.Header h1
{
    color: white;
    font-size: 3.0rem;
    opacity: 1;
}
.Slide
{
    /* margin-top: 0; */
    font-size: 2.5rem;
    margin-top: 0;
    transform: translateY(-200px);
    opacity: 0;
}
.Header1
{
    transition: all 0.8s ease-in-out;
    position: absolute;
    top:-100px;
    opacity: 0;
}
.Header1 p
{
    font-size: 1.2rem;
    color: white;
}
.SlideDown
{
    opacity: 1;
    /* position: absolute; */
    top:10px;
    


}


@media (max-width:1000px)
{
    .Header
    {
        /* width: 100%; */
        /* text-align: center; */
        /* color: white; */
        font-size: 1.5rem;
        margin-top: 100px;
        /* transition: all 0.5s ease-in-out; */
    }


}

@media (max-width:500px)
{
    .Header
    {
        /* width: 100%; */
        /* text-align: center; */
        /* color: white; */
        font-size: 1.0rem;
        margin-top: 70px;
        /* transition: all 0.5s ease-in-out; */
    }


}

